/* Admin CSS */

img {
    max-width: 250px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

a{
    font-size: 1.3rem;
}
a.nav-link:hover:not(:last-child) {
    color:inherit;
}
a.nav-link:hover {
    color:black;
    border: 1px;
    background: #375A7F;
    /* background-color: rgb(5, 39, 68); */
}

a.nav-link:active {
    color:aquamarine;
    border: 1px;
    background-color: rgb(5, 39, 68);
}

.col-2 {
    height: 100%;
}

.table {
    border-radius: 15px;
}
.bold{
    font-weight: bold;
}
