img {
    max-width: 300px;
    display: flex;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.bold {
    color:#49b2b1;
    font-weight: bold;
    font-size: 1.8rem;
}
.text-blue {
    color:#49b2b1;
    font-weight: bold;
    word-spacing: .2rem;
}
label, p{
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}
.text-info{
    font-weight: bold;
}
hr {
    margin: 1.5rem 0 !important;
    /* color:#49b2b1 !important; */
    height: 3px!important;
}
.fade-in {
    animation-name: FadeIn;
    animation-duration: 5s;
    transition-timing-function: linear;
  }
  @keyframes fade-inout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fade-in-fade-out {
    animation: fade-inout 3s infinite alternate;
  }